@page "/editarV"
@using System;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using FinalProject.Models;
@inject DbContextOptions<rentcarContext> rentar  

<h3>Editar Vehiculos</h3>
<hr />
<div class="container">
    <div class="form-group">
        <label>Ingrese el numero de seguro del vehiculo:</label>
        <input class="form-control" placeholder="Numero de seguro" @bind="seguro" />
    </div>
    <button @onclick="@Cargar" class="btn btn-outline-success">Cargar Cehiculos</button>
</div>
<hr>
@if (activated == true && enable == true)
{
    <div class="container">
    <form class="form">
        <div class="form-group">
            <label>Marca</label>
            <input class="form-control" placeholder="Marca"  @bind="marca" />

        </div>

        <div class="form-group">
            <label>Modelo</label>
            <input class="form-control" placeholder="Modelo" @bind="modelo" />
        </div>

        <div class="form-group">
            <label>A単o</label>
            <input class="form-control" placeholder="A単o" @bind="year" />
        </div>

        <div class="form-group">
            <label>Color</label>
            <input class="form-control" placeholder="Color" @bind="color" />
        </div>

        <div class="form-group">
            <label>Precio por dia</label>
            <input class="form-control" placeholder="Precio por dia " @bind="Pdia" />
        </div>

        <div class="form-group">
            <label>Tipo de vehiculo</label>
            <select class="form-control" @bind="tipo">
                @foreach (var tpv in VehiclesTypes())
                {
                    <option value="@tpv.IdTipoVehiculos">@tpv.Tipo</option>
                }
            </select>
        </div>

         <div class="form-group">
            <label>Capacidad de carga</label>
            <input class="form-control" placeholder="Capacidad de carga en kg" @bind="carga" />
        </div>

        <div class="form-group">
            <label>Pasajeros</label>
            <input class="form-control" placeholder="pasajeros" @bind="pasajeros" />
        </div>
        <hr>
        <div class="form-group">
            <label>Latitud</label>
            <input class="form-control" placeholder="Latitud" @bind="latitud" />
        </div>

        <div class="form-group">
            <label>Longitud</label>
            <input class="form-control" placeholder="Longitud" @bind="longitud" />
        </div>

        <button @onclick="@Editar" class="btn btn-outline-success">Editar</button>
    </form>
</div>
    <hr>
    <h3>@notification</h3>
}    
@code
{
    string marca;
    string modelo;

    string year;
    string color;
    int seguro;
    float Pdia;
    int tipo;
    float carga;
    int pasajeros;
    double latitud;
    double longitud;

    string notification = "";
    bool enable = true;
    bool activated = false;
    Vehiculos vehiculo = null;
    rentcarContext db;

    

    protected override void OnInitialized()
    {
        db = new rentcarContext(rentar);
    }

    List<TipoVehiculos> VehiclesTypes() => db.TipoVehiculos.ToList();
    
    void Cargar()
    {
        vehiculo = db.Vehiculos.Where(C => C.Nroseguro == seguro).SingleOrDefault();

         

        if(vehiculo == null)
        {
            enable = false;
        }
        else
        {
            marca = vehiculo.Marca;
            modelo = vehiculo.Modelo;
            year = vehiculo.A単o;
            color = vehiculo.Color;
            Pdia = vehiculo.Precio;
            tipo = vehiculo.TipoVehiculosIdTipoVehiculos;
            carga = vehiculo.Capacidadcarga;
            pasajeros = vehiculo.Pasajeros;
            latitud = vehiculo.Latitude;
            longitud = vehiculo.Longitude;

            
        }
        activated = true;
    }
    void Editar()
    {
        try
        {
            vehiculo.Nroseguro = seguro;
            vehiculo.A単o = year;
            vehiculo.Capacidadcarga = carga;
            vehiculo.Color = color;
            vehiculo.Latitude = latitud;
            vehiculo.Longitude = longitud;
            vehiculo.Marca = marca;
            vehiculo.Pasajeros = pasajeros;
            vehiculo.Precio = Pdia;
            vehiculo.TipoVehiculosIdTipoVehiculos = tipo;

            db.SaveChanges();
        }
        catch(System.Exception ex)
        {
            Console.WriteLine(ex.Message);
            notification = "La edicion no de pudo realizar";        
        }
    }
}


    