@page "/listadoV"
@using System;
@using System.Linq;
@using FinalProject.Models;
@using Microsoft.EntityFrameworkCore
@inject DbContextOptions<rentcarContext> rentar

<h1>Listado de Vehiculos.</h1>
<hr>    
<div class="form-group">
        <label for="fecha-inicio">Selecciona la fecha de inicio.</label>
        <input @bind-value="@fecha_inicio" type="date" name="fecha-inicio" id="fecha-inicio">
</div>
<div class="form-group">
        <label for="fecha-fin">Selecciona la fecha del fin.</label>
        <input @bind-value="@fecha_fin" type="date" name="fecha-fin" id="fecha-fin">
</div>

<div class="form-group">
    <button @onclick="mostar" class="btn btn-dark">Mostrar Lista</button>
</div>



@code
{
    DateTime fecha_inicio;
    DateTime fecha_fin;
    
   List<Alquileres> automovil = new rentcarContext(rentar).Alquileres.Where(m => m.FechaInicio >= fecha_inicio && a => a.FechaFin <= fecha_fin ).ToList();

   void mostar()
   {
       if(automovil.Count > 0){
           <hr>
           <hr>
           <table class="table table-dark table-hover">
             <thead>
                 <tr>
                     <th>Marca</th>
                     <th>Modelo</th>
                     <th>Color</th>
                     <th>Año</th>
                     
                 </tr>
             </thead>  
             <tbody>
                 @foreach (var aut in automovil){
                     <tr>
                        <td>@aut.VehiculosIdVehiculosNavigation.Marca</td>
                        <td>@aut.VehiculosIdVehiculosNavigation.Modelo</td>
                        <td>@aut.VehiculosIdVehiculosNavigation.Color</td>
                        <td>@aut.VehiculosIdVehiculosNavigation.Año</td>
                     </tr>
                 }
             </tbody>

           </table>
       }
   }
    
}